.comment_detail
  = link_to comment.user.name
  .comment-show-area
    %span= comment.content
  .edit_delete
    .destroy-comment{'data-id': "#{comment.id}", 'post-id': "#{post.id}" } Delete
    .edit-comment{'data-id': "#{comment.id}", 'post-id': "#{post.id}" } Edit