.container-fluid
  .row
    .navbar
      .header_nav
        %a.navbar-brand
        %ul.nav.nabar-nav.navbar-left
          %li
            %span.home= link_to "Home", root_path,class: "btn btn-link"
          %li.search
            = search_form_for @q,url: root_path do |f|
              = f.text_field :name_cont, placeholder: "enter name", class: "form-control"
        %ul.nav.navbar-nav.navbar-right
          %li
            %span.user_name= link_to current_user.name, edit_user_registration_path,class: "btn btn-link"
          %li
            %span.glyphicon.glyphicon-log-in= link_to t("logout"), destroy_user_session_path, method: 'delete'