#form_post
  = form_for @post, multipart: true do |f|
    .field
      = f.text_area :content, placeholder: "Compose new post"
      = f.fields_for :pictures do |p|
        = p.file_field :picture_url, id: "file_button", multiple: true
    = f.submit "Post", class: "btn btn-primary post_form"
