.option-area
  .option
    %span.option_item
    %span.option_item
    %span.option_item
  .option-menu
    %li 
      .destroy-post{'data-id': "#{post.id}" } Delete
    %li
      .edit-post{'data-id': "#{post.id}" } Edit
%li.content_item
  %span.content
    = post.content
    - post.pictures.each do |p|
      = image_tag p.picture_url.url
  %span.timestamp
    = time_ago_in_words(post.updated_at)
    ago.
  .comment-area
    - post.comments.each do |comment|
      %hr
      %span.comment_item
        .comment_detail
          = link_to comment.user.name
          .comment-show-area
            %span= comment.content
          .edit_delete
            .destroy-comment{'data-id': "#{comment.id}", 'post-id': "#{post.id}" } Delete
            .edit-comment{'data-id': "#{comment.id}", 'post-id': "#{post.id}" } Edit
  = form_for ([post, post.comments.build]) do |f|
    = f.text_field :content, placeholder: "Comment ...", class: "comment_textbox"